name: Discord Online 24/7
on:
  schedule:
    - cron: '0 */4 * * *' # รันใหม่ทุก 4 ชม.
  workflow_dispatch: # กดรันเองได้

jobs:
  run-discord:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install discord.js-selfbot-v13
      - run: timeout 4h node index.js || true # สั่งให้รันแค่ 4 ชม. แล้วจบงานเพื่อให้ Workflow รอบใหม่มารับช่วงต่อ
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
